* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.userImg {
    background-color: grey;
    border-radius: 50%;
}
.icon {
    background-color: grey;
    border-radius: 50%;
}
.mainChat {
    height: 70vh;
    background-image: url(../img/mine.jpg);
}
.text {
    width: 80%;
}
.inviato {
    background-color: darkseagreen;
    align-self: flex-end;
}
.ricevuto {
    background-color: #fff;
    align-self: flex-start;
}